<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Identifikasi Penyakit Daun Jagung</title>
    <!-- <link rel="stylesheet" href="/static/css/style.css"> -->
    <link rel="stylesheet" href="../static/css/style.css2">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- <script src="/static/js/script.js"></script> -->
    <script src="../static/js/script.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEJr+4H4Q3W0dC54kq4gK2QnDykD8djKnsyddzVjnp9H9oVgW1fp1c5hBh9it" crossorigin="anonymous">

</head>
<body>
    {% block content %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
